!!! 5
%head
  %title= title :site_name => "Pollum is Gollum's polluted brother"
  %meta{name: :description, content: yield(:description)}
  %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
  = stylesheet_link_tag "application"
  = javascript_include_tag "application"
  = csrf_meta_tags
  /[if IE]
    = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"
  
%body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        %a.btn.btn-navbar{'data-toggle' => "collapse", 'data-target' => ".nav-collapse"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand{href: root_path} Pollum
        .nav-collapse
          %ul.nav
            %li{class: active_if(params[:action] == 'index')}
              %a{href: root_path}
                %i.icon-map-marker.icon-white
                Stations
            %li
              %a{href: compare_path}
                %i.icon-signal.icon-white
                Metrics
                    
  .container
    - flash.each do |type, message|
      %div.alert-message.fade.in{ "data-alert" => "alert", :class => twitterized_type(type) }
        %a.close{:href => "#"} ×
        %p= message
    = yield
    %footer.footer
      .container
        %p.pull-right
          %small= t("developed_by")
          %strong ThoughtSauce
          and
          %strong 83bits
          

